.wrapper {
    footer{
        position: absolute;
        z-index: 10;
        width: 100%;
    }
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax {
    position: relative;
    height: 100%;
}
.parallax__aqua {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax__aqua__1 {
    background: url(../img/about/m_1.jpg) no-repeat;
    background-size: cover;
}
.parallax__aqua__3 {
    background: url(../img/about/downicon.png)top center no-repeat;
    z-index: 3;
    position: fixed;
    top: 150px;
    left: -30px;
    background-size: 6%;
}
.parallax__fog {
    background: url(../img/about/fog_1.png) bottom no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.content {
    position: relative;
}
.content__body {
    max-width: 1170px;
    margin: 0 auto;
}
.content__header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 20px;
}
.content__title {
    font-size: 150px;
    font-family: Fira Sans;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.356);
}
.content__subtitle {
    font-size: 60px;
}
.content__article {
    background-color: rgba(255, 255, 255, 0.356);
    padding: 25px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 6px;
    margin-bottom: 60px;
    p{
        margin-bottom: 20px;
        line-height: 2;
    }
}

