.contact{
    .header-wrap:before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(3, 3, 17, 0.671);
        backdrop-filter: blur(20px);
        z-index: 2;
    }
}
.map{
    .title{
        margin-top: 50px;
    }
    span{
        margin-bottom: 170px;
    }
    h3{
        right: 356px;
    }
}
.map-wrapper{
    background-color: rgba(255, 255, 255, 0.068);
    margin-bottom: 120px;
}
.map-info__block{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(2, 12, 22, 0.781);
}
.block__left, .block__right{
    font-size: 28px;
    line-height: 2;
    margin-right: 100px;
    margin-left: 100px;
}
.form-inputs{
    width: 700px;
}
.contact-right{
    .button{
        cursor: pointer;
    }
}
.map-info__form{
    .wrap {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 120px;
    }
}
