.footer{
    display: flex;
    align-items: center;
    margin-top: 120px;
    padding: 5px 0 5px;
    background-color: rgba(142, 142, 144, 0.103);
    img{
        max-width: 100px;
    }
    a{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    padding-right: 106px;
        &:hover{
            color: $blue;
            transition: .3s;
            transform: scale(1.1);
        }
    }
    a:first-child{
        padding-right: 30px;
    }
}

.footer-item{
    padding-left: 106px;
}
.footer__cop{
    padding-right: 176px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    opacity: 0.5;
    letter-spacing: 1.5px;
}
