.footer{
    text-align: center;
    padding: 285px 0 34px;
    img{
        width: 100px;
    }
}
.footer__copy{
    padding: 27px 0 0 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;
    letter-spacing: 1.5px;
}
