.relax-dot{
    .btn{
        text-align: center;
    }
}
.wrap {
    width: 50%;
    margin: 0 auto;
}
/*--profile start here--*/
h2 {
    font-size: 3em;
    background-color: rgba(142, 142, 144, 0.103);
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}
::-webkit-input{
	color:#FFFFFF !important;
}

.contact-form{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 320%;
    left: 50%;
    display: none;
    background-color: rgba(2, 12, 22, 0.301);
    padding: 4em;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.52);
}
//2
.contact-forms{
    background-color: rgba(2, 12, 22, 0.301);
    padding: 3em;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.52);
}
.form-close{
    cursor: pointer;
}
.form-close:before{
    content:'';
    background-color: $blue;
    position: absolute;
    height: 3px;
    width: 35px;
    top: -25px;
    right: -51px;
    transform: rotate(-45deg);
}
.form-close:after{
    content:'';
    background-color: $blue;
    position: absolute;
    height: 3px;
    width: 35px;
    top: -25px;
    right: -51px;
    transform: rotate(45deg);
}
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.contact-left{
    float: left;
    width: 47%;
    margin: 0 1em 0 0;
}
.contact-right{
    display: flex;
    width: 49%;
    border-left: solid 1px rgba(255, 255, 255, 0.5);

    span{
        top: 315px;
        left: 0;
    }
    button{
        border: none;
        background: none;
        cursor: pointer;
    }
}
.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 88%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: none;
    outline: none;
}
//2
.contact-forms input[type="text"],.contact-forms input[type="email"],.contact-forms textarea{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 88%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: none;
    outline: none;
}
select{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 88%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: none;
    outline: none;
}
.styled-date{
    input{
        font-size: .9em;
        color: #999999;
        padding: 2em 1em 0.5em 1em;
        border: 0;
        width: 88%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        background: none;
        outline: none;
    }
}
.error{
    color: rgb(255, 0, 0);
}
.contact-form textarea { 
	min-height: 22em;
    resize: none;
} 
//2
.contact-forms textarea { 
	min-height: 22em;
    resize: none;
} 
/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: $blue;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
    width: 100%;
    margin: 3em 0 1em;
    position: relative;
}
.agileits-input{
    margin: 0 0 1em 1em;
}
.styled-input label {
	color: #999999;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background:$blue;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span { 
    bottom: 5px; 
}
.styled-input input:focus.styled-input textarea:focus { 
	outline: 0; 
} 
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;  
	transition: all 0.075s; 
} 

/*-- responsive --*/
@media(max-width:1280px){
	.wrap {
		width: 60%;
	}
}
@media(max-width:1080px){
	.wrap {
		width: 70%;
	}
}
@media(max-width:900px){
	.wrap {
		width: 80%;
	}
}
@media(max-width:667px){
	.wrap {
		width: 90%;
	}
}
@media(max-width:600px){
	h1 {
		font-size: 2em;
	}
	body {
		padding: 3em 0;
	}
}
@media(max-width:568px){
	.contact-form {
		padding: 2em;
    }
    .contact-forms {
		padding: 2em;
	}
	.contact-left {
		float: none;
		width: 100%;
		margin: 0 0 1em 0;
	}
	.contact-right {
		float: none;
		width: 100%;
		border-left: none;
	}
	.agileits-input {
		margin: 2em 0 1em 0em;
	}
}
@media(max-width:480px){
	.contact-form textarea {
		min-height: 16em;
	}
	.styled-input {
		margin: 2em 0 1em;
	}
	.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
		width: 92%;
	}
	.contact-form input[type="submit"] {
		padding: .8em 3em;
    }
    //2
    .contact-forms textarea {
		min-height: 16em;
	}
	.styled-input {
		margin: 2em 0 1em;
	}
	.contact-forms input[type="text"], .contact-forms input[type="email"], .contact-forms textarea {
		width: 92%;
	}
	.contact-forms input[type="submit"] {
		padding: .8em 3em;
	}
}
@media(max-width:414px){
	h1 {
		font-size: 1.5em;
	}
}
@media(max-width:375px){
	.contact-form textarea {
		min-height: 10em;
    }
    //2
    .contact-forms textarea {
		min-height: 10em;
	}
}
@media(max-width:320px){
	.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
		width: 86%;
    }
    //2
    .contact-forms input[type="text"], .contact-forms input[type="email"], .contact-forms textarea {
		width: 86%;
	}
}