html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: #201208;
    color: #FFFFFF;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}
ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.title{
    text-transform: uppercase;
    span{
        display: inline-block;
        position: relative;
        font-size: 200px;
        font-weight: 800;
        color: #ffffff10;
        transform: translateX(-50px);
    }
    h3{
        border-top: 1px solid $blue;
        border-bottom: 1px solid $blue;
        position: absolute;
        top: 0;
        right: 178px;
        font-size: 80px;
        margin: 0;
        color: #fff;
    }
} 
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.suptitle-left{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;
    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}
.suptitle-right {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    padding-right: 103px;
    position: relative;
    display: inline-block;
    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        right: 0;
        top: 50%;
    }
}
// SURFING AKTUALNA LOKALIZACJA
.subtitle__head{
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 5px 0px 0px;
    span{
        font-weight: 100;
        opacity: 0.5;
    }
}
.descr {
    display: inline-block;
    padding: 0 0 0 5px;
    margin: -15px 0 0 0;
    background-color: rgba(74, 154, 246, 0.253);
    border-radius: 20px;
}
.descr__head{
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0px 5px 0px 0px;
    span{
        font-weight: 100;
    }
}
.btn{
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    padding: 0px 17px;
    border: 2px solid $blue;
    display: inline-block;
    background: rgba(#1C2121, .50);
    transition: .4s;
    span{
        font-weight: 100;
    }
    &:hover{
        box-shadow: 0px 0px 30px $blue;
        padding: 5px 25px;
    }
}