html{
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    background-color: #201208;
    color: #FFFFFF;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}
ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.suptitle-left{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;
    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}
// SURFING AKTUALNA LOKALIZACJA
.subtitle{
    width: 500px;
    text-align: right;
}
.subtitle__head{
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 5px 0px 0px;
    span{
        font-weight: 100;
        opacity: 0.5;
    }
}