//---HEADER---//
@media (max-width: 1440px) {
     .logo{ 
        img{ 
            width: 100px;
            margin: 0;
            padding: 0px 0px 0px 0px;
        }
    }
    .header__aside{
        width: 100px;
    }
    .header__title{
        font-size: 125px;
        line-height: 108px;
        top: 15px;
        left: 21px;
    }
    .menu{
        padding: 0px 0 0 0;
    }
    .header__search{
        padding: 0 0 8px 0;
    }
    .header__date{
        font-size: 60px;
    }
    .header__search{
        margin: 0;
        padding: 0;
    }
    .header__date{
        font-size: 50px;
        span{
            font-size: 14px;
            padding: 0;
            margin: 0;
            padding: 0;
        }
    }
    .header__location{
        padding: 0 0 0 20px;
        margin: 0;
        &:before{
            content:"";
            position: absolute;
            width: 11px;
            height: 13px;
            background: url(../img/POI.svg) no-repeat ;
            left: 15;
            top: 0;
        }
    }
    .header__map{
        svg{
            width: 700px;
            height: 600px;
        }
    }
}
@media (max-width: 1366px) {
    .header__aside {
        position: absolute;
        border-right: none;
        height: 100px;
        text-align: left;
        display: flex;
    }
    .menu{
        padding-top: 0;
        background-color: rgba(0, 119, 255, 0.089);
        height: 123px;
    }
    .menu__list{
        display: flex;
        align-items: flex-end;
        li{
            display: inline-block;
        }
        a{
            padding: 15px;
        }
    }
    .header__search{
        padding: 33px 15px 15px;
        background-color: rgba(0, 119, 255, 0.089);
        height: 123px;
    }
    .header__date{
        padding: 15px;
        background-color: rgba(0, 119, 255, 0.089);
        height: 123px;
        span{
            width: 70px;
        }
    }
    .header__location{
        padding: 50px 10px 0 17px;
        left: 0px;
        top: 0px;
        background-color: rgba(0, 119, 255, 0.089);
        height: 123px;
        &:before{
            content:"";
            position: absolute;
            width: 11px;
            height: 13px;
            background: url(../img/POI.svg) no-repeat ;
            left: 0px;
            top: 50px;
        }
    }
    .slider-item__info-title{
        font-size: 65px;
    }
    .header__map{
        svg{
            width: 600px;
            height: 500px;
        }
    }
}
@media (max-width: 1366px){
    .header__map{
        svg{
            width: 500px;
            height: 500px;
        }
    }
    .slider-arrows{
        top: 20px;
        right: 20px;
    }
    .slider-arrows__left{
        right: 70px;
    }
    .header__arrows{
        left: 30px;
        bottom: 20px;
    }
}
@media (max-width: 1340px){
    .header__search{
        padding: 45px 15px 15px;
    }
    .slider-item__info{
        position: absolute;
        bottom: 70px;
    }
    .suptitle-left{
        font-size: 16px;
        padding: 0px 0 0px 65px;
        &::before{
            content: "";
            position: absolute;
            width: 50px;
        }
    }
    .slider-item__info-suptext{
        margin: 0px 0px 5px 0px;
        padding-left: 103px;
    }
    .slider-item__info-title{
        font-size: 55px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1200px){
    .header__map{
        svg{
            width: 350px;
            height: 350px;
        }
    }
    .dots-box{
        width: 190px;
    }
    .dots-box__number{
        font-size: 18px;
    }
    .dots-box__name{
        line-height: 18px;
    }
}
@media (max-width: 1040px){
    .menu-btn{
        display: flex;
    }
    .slider-dotshead{
        right: 0;
        left: 20px;
        padding: 0;
        margin: 0 auto;
        bottom: 15px;
    }
    .dots-box{
        width: 150px;
    }
    .dots-box__number{
        font-size: 16px;
    }
    .dots-box__name{
        line-height: 16px;
    }
    .header__arrows{
        display: none;
    }
    .header__search{
       display: none;
    }
    .header__date{
        display: none;
    }
    .header__location{
        display: none;
    }
    .menu{
        z-index: 22;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-210%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .6s;
        &.active{
            transform: translateX(0);
            left: 160px;
        }
    }
    .menu__list{
        background-color: $blue;
    }
    .slider-item__info-title{
        font-size: 45px;
        margin-bottom: 0px;
    }
    .slider-item__info{
        right: 50px;
    }
}
@media (max-width: 766px){
    .slider-item__info-title{
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0;
    }
    .slider-item__info{
        right: 20px;
    }
    .header__map{
        display: none;
    }
    .dots-box {
        width: 110px;
        left: 44px;
    }
}
@media (max-width: 460px){
    .dots-box__name{
        display: none;
    }
    .dots-box {
        width: 60px;
    }
    .dots-box__number{
        margin: 0 auto;
    }
    .header__title{
        font-size: 78px;
        line-height: 72px;
    }
    .header__aside{
        display: block;
        text-align: center;
        height: 100vh;
        padding: 0;
    }
    .menu__list{
        position: absolute;
        display: flex;
        flex-direction: column;
        display: block;
        height: 100vh;
        top: 0px;
        right: 60px;
        background-color: #0075FF;
        width: 100px;
    }
    .slider-item__info-title{
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 0;
    }
    .slider-item__info-suptitle{
        margin: 0px 0px -5px 0px;
    }
}