                    //- - - 1500px - - -//
@media (max-width: 1500px) {
              //- - -SHOP- - -//
   .shop__slider__btn{
       .button{
           margin: 40px 0 0 0;
       }
   }
   .header__menu {
    padding: 221px 10px 0px 418px;
   }
   .header__menu.active {
    padding: 221px 10px 0px 418px;
   }
}


//- - - 1440px - - -//
@media (max-width: 1440px) {
    //header//
    .header__title{
        font-size: 125px;
        line-height: 108px;
    }
     //header//
    //- - -SHOP- - -//
     .shop__slider-inner{
        display: block;
     }
     .shop__slider-info{
        margin: 0 40px 0 0;
        padding: 55px 0 55px 0;
    }
    .shop__slider{
        padding: 0 0 0 20px;
    }
    .shop__slider-content {
        padding: 0px 0px 0px 344px;
    }
    .shop__slider__btn{
        position: absolute;
        right: 570px;
        bottom: 60px;
    }
    .shop{
        .contact-form{
          top: 695%;
        }
    }
}



                    //- - - 1366px - - -//
@media (max-width: 1366px) {
     //header//
     .header__menu{
        padding: 221px 10px 0px 260px;
     }
     .header__menu.active {
        padding: 221px 10px 0px 260px;
     }
    .header__aside {
        position: absolute;
        border-right: none;
        height: 178px;
        text-align: left;
        display: flex;
        background-color: rgba(74, 154, 246, 0.11);
    }
    .slider-item__info-title{
        font-size: 65px;
    }
    .header__map{
        svg{
            width: 500px;
            height: 500px;
        }
    }
    .header__arrows{
        left: 30px;
        bottom: 20px;
    }
     //header//
}


                    //- - - 1340px - - -//
@media (max-width: 1340px){
     //header//
    .slider-item__info{
        position: absolute;
        bottom: 70px;
    }
    .suptitle-left{
        font-size: 16px;
        padding: 0px 0px 0px 65px;
        &::before{
            content: "";
            position: absolute;
            width: 50px;
        }
    }
    .slider-item__info-suptext{
        margin: 0px 0px 5px 0px;
        padding-left: 103px;
    }
    .slider-item__info-title{
        font-size: 55px;
        margin-bottom: 20px;
    }
     //header//

    //- - - -RELAX- - - -//
    .relax-slider__subtitle {
        background: rgba(#1C2121, .70);
    }
}



                    //- - - 1250px - - -//
@media (max-width: 1250px){
    //- - -TRAVEL- - -//
    .travel-slider__descr {
        padding: 160px 0px 0px 20px;
    }
        //- - - -RELAX- - - -//
    .travel-grid {
    grid-template-columns: repeat(4, 1fr);
    }
    .wrap-item{
        &:nth-child(1){
            grid-column: 1 / 4;
        }
        &:nth-child(3){
            grid-column: 2 / 5;
        } 
        &:nth-child(4){
            grid-column: 2 / 5;
        } 
        &:nth-child(6){
            grid-column: 1;
            grid-row: 2 / 4;
        }
        &:nth-child(8){
            grid-column: 3 / 5;
        } 
    }
    .travel-grid__item {
        font-size: 16px;
    }
    .relax-slider__descr {
        padding: 160px 0px 0px 20px;
    }
    .relax{
        .title{
            span{
                font-size: 140px;
                padding: 0 75px 40px 40px;
            }
            h3{
                top: -28px;
                right: 179px;
                font-size: 80px;
            }
        }
    }
    .shop{
        .contact-form{
          top: 730%;
        }
    }
}


                    //- - - 1200px - - -//
@media (max-width: 1200px){
     //header//
    .dots-box{
        width: 190px;
    }
    .dots-box__number{
        font-size: 18px;
    }
    .dots-box__name{
        line-height: 18px;
    }
     //header//
     // - -SPORT- -//
    .slider-map{
        max-width: 1000px;
        min-height: 515px;
    }
    .slider-map .slick-list{
        min-height: 515px;
    }
    .slider-dots--cu{
        top: 461px;
        left: -125px;
    }
    .slider-dots--au{
        top: 222px;
        left: 223px;
    }
    .slider-dots__circle{
        display: none;
    }
    .slider-dots__content{
        display: block;
        &::before{
            display: none;
        }
    }
    .slider-dots{
        position: static;
    }
    .slider-map{
        .slick-list{
            overflow: hidden;
            min-height: 280px;
        }
        .slick-track{
            min-height: 280px;
        }
    }
    .slider-dots__content,
    .slider-dots--fi .slider-dots__content{
        transform: translateX(0);
    }
    .slider-dots__content {
        width: 285px;
        padding: 28px 31px 0 32px;
    }
    .slider-map .slick-current .slider-dots__content{
        background-color: rgba(61, 61, 61, 0.308);
    }
    .slider-dots__click{
        display: none;
    }
    .suptitle-left{
        padding: 0 0 0 65px;
    }
    .travel-slider__subtitle {
        padding: 70px 106px 120px 0;
    }
    //- -SPORT- -//
    //- - -TRAVEL- - -//
    .travel-slider__info{
        display: block;
    }
    .travel-slider__info-subtitle {
        position: relative;
        transform: rotate(0);
        height: auto;
        left: 0;
        width: auto;
        text-align: left;
    }
    .travel-slider__info-subtitlewrap{
        position: relative;
        transform: rotate(0);
        height: auto;
        top: 96px;
        left: 0px;
    }
    .travel-slider__info-item {
        margin-bottom: 20;
        padding-left: 20px;
        min-height: auto;
    }
    .travel-slider__info-title{
        padding-left: 0;
    }
    .travel-slider__info-title span {
        font-weight: 100;
    }
    .travel-slider__descr {
        background-position: right -150px;
    }
    //- - -TRAVEL- - -//
        //- - - -RELAX- - - -//
    .slider-dots__clicks{
        display: none;
    }
    .relax-slider__info{
        display: block;
    }
    .relax-slider__info-subtitle {
        position: relative;
        transform: rotate(0);
        height: auto;
        left: 0;
        width: auto;
        text-align: left;
    }
    .relax-slider__info-item {
        margin-bottom: 20;
        padding-left: 20px;
        min-height: auto;
    }
    .relax-slider__info-title{
        padding-left: 0;
    }
    .relax-slider__descr {
        background-position: right -150px;
    }
    .quantity-button.quantity-up {
        top: 100px;
    }
    .quantity-button.quantity-down {
        top: 100px;
    }
    .relax-slider__info-title .relax-pricing__span {
        font-weight: 100;
    }
        //- - - -RELAX- - - -//
    .surfboard__position--3 .surfboard-box__content {
        left: 60px;
        padding-left: 0;
    }
    .surfboard__position--3 .surfboard-box__content::before {
        content: "";
        width: 20px;
        left: -32px;
    }
    .shop{
        .contact-form{
          top: 760%;
        }
    }
    .relax-form{
        .contact-form {
            top: 352%;
            padding: 1em;
        }
        .form-close:before{
            top: 14px;
            right: -10px;
        }
        .form-close:after{
            top: 14px;
            right: -10px;
        }
    }
}



                    //- - - 1102px - - -//
@media (max-width: 1102px){
    .header__menu {
        padding: 221px 10px 0px 180px;
    }
    .header__menu.active {
        padding: 221px 10px 0px 180px;
    }
    .slider-map{
        background-image: none;
        max-width: 100%;
        min-height: 280px;
    }
    .shop{
        .contact-form{
          top: 736%;
          padding: 0em;
        }
        .form-close:before{
            top: 25px;
            right: 5px;
        }
        .form-close:after{
            top: 25px;
            right: 5px;
        }
    }
}




                    //- - - 1040px - - -//
@media (max-width: 1040px){
     //header//
     .header-wrap__body {
        padding-left: 60px;
        padding-right: 60px;
     }
        .slider-arrows {
            right: 60px;
         }
          .slider-arrows__left {
            right: 105px;
        }
     .header__list li{
        &:hover .sub-header__list{
            display: none;
        }
    }
     .header__aside{
         background: none;
     }
    .menu-btn{
        display: flex;
    }
    .slider-dotshead{
        right: 0px;
        padding: 0;
        margin: 0 auto;
        bottom: 15px;
    }
    .dots-box{
        width: 150px;
    }
    .dots-box__number{
        font-size: 16px;
    }
    .dots-box__name{
        line-height: 16px;
    }
    .header__arrows{
        display: none;
    }
    .slider-item__info-title{
        font-size: 45px;
        margin-bottom: 0px;
    }
    .slider-item__info{
        right: 50px;
    }
    .menu-btn{
        display: block;
        right: 60px;
        top: 100px;
    }
     //header//
     //- -SPORT- -//
     .slider-map .slick-list{
         overflow: hidden;
     }
     //- -SPORT- -//
      //- - -RELAX- - -//
      .travel-slider__subtitle {
        padding: 70px 60px 120px 0;
    }
    .relax-subtitle {
        padding: 100px 60px 0 0;
    }
    .travel-grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 60px;
    }
    .wrap-item{
        &:nth-child(1){
            grid-column: 1 / 3;
        }
        &:nth-child(2){
            grid-column: 3 / 6;
        }
        &:nth-child(3){
            grid-column: 1 / 3;
        } 
        &:nth-child(4){
            grid-column: 3 / 6;
        } 
        &:nth-child(5){
            grid-column: 1 / 3;
        } 
        &:nth-child(6){
            grid-column: 3 / 6;
            grid-row: initial;
        }
        &:nth-child(7){
            grid-column: 1 / 3;
        } 
        &:nth-child(8){
            grid-column: 3 / 6;
        } 
    }
      .relax{
          overflow: hidden;
      }
     .relax{
        .title{
            span{
                font-size: 140px;
                padding: 20px 75px 40px 40px;
            }
            h3{
                top: 0;
                right: 179px;
                font-size: 80px;
            }
        }
        .relax-panel__heading{
            font-size: 21px;
        }
        .relax-panel__heading ::after {
            top: 8px;
            left: 445px;
        }
    }
    .price-descr .descr {
        padding: 0 0 0 60px;
    }
    //- - - -SHOP- - - -//
    .surfboard-box__content{
        padding-left: 0;
        top: 35px;
        left: 0;
        &::before{
            display: none;
        }
    }
    .shop__slider-content {
        padding: 0px 0px 0px 0px;
    }
    .footer a {
        padding-right: 60px;
        font-size: 14px;
    }
    .footer-item {
        padding-left: 60px;
    }
    .footer__cop {
        width: 155px;
        text-align: center;
    }
    .relax-form{
        .contact-form {
            top: 352%;
            padding: 0em;
        }
        .form-close:before{
            top: 26px;
            right: 7px;
        }
        .form-close:after{
            top: 26px;
            right: 7px;
        }
    }
}

                    //- - - 803px - - -//
@media (max-width: 803px){
    .shop{
        .contact-form{
          top: 733%;
        }
        .form-close:before{
            top: -250px;
            right: -185px;
        }
        .form-close:after{
            top: -250px;
            right: -185px;
        }
    }
    .relax-form{
        .contact-right span {
            top: 185px;
            left: 0;
        }
        .contact-form textarea {
            min-height: 13em;
            resize: none;
        }
        .contact-form {
            top: 350%;
        }
        .form-close:before{
            top: -370px;
            right: -184px;
        }
        .form-close:after{
            top: -370px;
            right: -184px;
        }
    }
}


                    //- - - 766px - - -//
@media (max-width: 766px){
     //header//
     .footer, .header-wrap__body{
        height: 90px;
    }
    .header__item span{
        display: none;
    }
    .logo img{
        max-width: 70px;
    }
    .footer img {
        max-width: 70px;
    }
    .header__menu {
        padding: 180px 10px 0px 115px;
    }
    .header__menu.active {
        padding: 180px 10px 0px 115px;
    }
    .header__menu span {
        font-size: 44px;
    }
     .slider-dotshead {
        padding: 0 0 0 55px;
    }
    .slider-item__info-title{
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0;
    }
    .slider-item__info{
        right: 20px;
    }
    .header__map{
        display: none;
    }
    .dots-box {
        width: 110px;
        left: 44px;
    }
    .header__title {
        font-size: 90px;
        top: 89px;
    }
     //header//
    //- -SPORT- -//
    .sport{
        padding: 160px 0 0px;
    }
    .title{
        span{
            font-size: 80px;
            padding: 0 75px 40px 40px;
        }
        h3{
            top: -28px;
            right: 179px;
            font-size: 40px;
        }
    }
    .travel{
        .title{
            h3{
                right: 208px;
            }
        } 
    }
    .subtitle__head{
        display: block;
        font-size: 32px;
    }
    .sport__subtitle{
        padding-right: 20px;
        padding-top: 45px;
    }
    .suptitle-left {
        letter-spacing: 2px;
        &::before{
            content: "";
            position: absolute;
            width: 50px;
            height: 1px;
            background-color: #fff;
            left: 0;
            top: 50%;
        }
    }
    .travel-slider__top{
        min-height: 750px;
    }
    .relax{
        .title{
            span{
                font-size: 70px;
                padding: 38px 21px 40px 40px;
            }
        }
    }
    .relax{
        .title h3 {
           top: 6px;
           font-size: 40px;
           right: 98px;
       }
   }
    //- -SPORT- -//
        //- - - -SHOP- - - -//
    .surfboard-box__content{
        padding-left: 0;
        top: 35px;
        left: 0;
        width: 270px;
        &::before{
        display: none;
        }
    }
    .surfboard__position--1{
        .surfboard-box__content{
            left: -160px;
        }
    }
    .shop__extras {
        padding: 0px 0px 0px 80px;
    }
    .shop{
        .title h3 {
           top: 0px;
           font-size: 40px;
           right: 169px;
       }
       .title span{
        padding: 29px 75px 40px 40px;
       }
   }
   .shop__slider__btn {
    right: 270px;
}
    .shop{
        .contact-form{
        top: 725%;
        }
        .form-close:before{
            top: -250px;
            right: -185px;
        }
        .form-close:after{
            top: -250px;
            right: -185px;
        }
    }
    .relax-form{
        .contact-right span {
            top: 185px;
            left: 0;
        }
        .contact-form {
            top: 339%;
        }
        .form-close:before{
            top: -370px;
            right: -167px;
        }
        .form-close:after{
            top: -370px;
            right: -167px;
        }
    }
}


                    //- - - 700px - - -//
@media (max-width: 700px){
    //- - -TRAVEL- - -//
    .travel-slider__descr{
        background-image: none !important;
    }
        //- - -RELAX- - -//
    .relax-slider__descr{
        background-image: none !important;
    }
    .shop{
        overflow: hidden;
    }
    .travel{
        overflow: hidden;
    }
    .sport{
        overflow: hidden;
    }
    .shop{
        .form-close:before{
            right: -155px;
        }
        .form-close:after{
            right: -155px;
        }
    }
    .descr__head .relax__star-list img {
       display: none;
    }
    .relax-form{
        .contact-form {
            top: 342%;
        }
        .form-close:before{
            top: -371px;
            right: -146px;
        }
        .form-close:after{
            top: -371px;
            right: -146px;
        }
    }
}


                    //- - - 640px - - -//
 @media (max-width: 640px){
    .shop__slider-content{
        display: block;
    }
    .shop__extras{
        padding: 35px 0 0 0;
    }
    .surfboard__position--1 {
        left: 180px;
        top: 200px;
    }
    .footer-item {
        width: 129px;
    }
    .footer a:first-child {
        padding-right: 0px;
    }
    .shop{
        .form-close:before{
            right: -140px;
        }
        .form-close:after{
            right: -140px;
        }
    }
    .relax-form{
        .contact-right span {
            top: 142px;
            left: 0;
        }
        .styled-input {
            width: 100%;
            margin: 1em 0 1em;
            position: relative;
        }
        .contact-form textarea {
            min-height: 10em;
            resize: none;
        }
        .contact-form {
            top: 350%;
        }
        .form-close:before{
            right: -145px;
            top: -262px;
        }
        .form-close:after{
            right: -145px;
            top: -262px;
        }
    }

 }


                    //- - - 570px - - -//
 @media (max-width: 570px){
    .shop{
        .contact-form{
            top: 733%;
        }
        .form-close:before{
            top: -260px;
            right: 20px;
        }
        .form-close:after{
            top: -260px;
            right: 20px;
        }
    }
    .relax-form{
        .form-close:before{
            right: 5px;
            top: -286px;
        }
        .form-close:after{
            right: 5px;
            top: -286px;
        }
    }

 }


                    //- - - 550px - - -//
 @media (max-width: 550px){
    .header-wrap__body {
        padding-left: 20px;
        padding-right: 20px;
     }
        .slider-arrows{
            right: 20px;
        }
        .slider-arrows__left{
            right: 70px;
        }
        .suptitle-right {
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 2px;
            padding-right: 103px;
        &::before{
            content: "";
            position: absolute;
            width: 50px;
            height: 1px;
            background-color: #fff;
            left: 178px;
            top: 71%;
        }
    }
    .shop__slider-info {
        padding: 30px 0 55px 0;
    }
    .descr__head-shop {
        font-size: 24px;
        margin: 10px 0 47px 0;
    }
        .descr__head {
            font-size: 24px;
        }
        .suptitle-left {
            font-size: 14px;
            margin-bottom: -8px;
        }
        .subtitle__head {
            font-size: 24px;
        }
        .slider-item__info-title{
            font-size: 35px;
        }
    .travel-slider__subtitle{
        padding: 100px 20px 0 0;     
    }
    .relax-slider__subtitle {
        padding: 100px 80px 0 0; 
    }
    .relax{
        .descr__head {
            font-size: 30px;
        }
    }
    .price-descr .descr {
        padding: 0 0 0 20px;
    }
    .relax-subtitle {
        padding: 70px 20px 0 0;
    }
    .relax-slider__descr .descr__head .relax__star-list {
        position: absolute;
        right: 11px;
        top: -19px;
    }
    .relax{
        .relax-panel__heading{
            font-size: 14px;
        }
        .relax-panel__heading ::after {
            top: 4px;
            left: 340px;
        }
    }
    .menu-btn {
        right: 20px;
        top: 100px;
    }
    .header__aside{
        display: block;
        text-align: center;
        padding: 0;
        height: 100vh;
    }
    .logo img {
        width: 100px;
    }
    .menu__list{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: block;
        height: 100vh;
        top: 0px;
        right: 105px;
        background-color: #0075FF;
        a{
            padding: 32px 20px 0 0px;
        }
    }
    //sport//
    .suptitle-left {
        line-height: 24px;
    }
    .travel-slider__descr {
        padding: 90px 0px 0px 20px;
        min-height: 180px;
    }
    .descr{
    .suptitle-right::before {
        left: 92px;
        top: 50%;
    }
  }
    .travel-slider__info-title {
        font-size: 30px;
        line-height: 35px;
    }
    .travel-slider__info-subtitle {
        font-size: 14px;
        line-height: 7px;
        letter-spacing: 6px;
        top: 85px;
    }
    .travel-slider__info-subtitlewrap{
        font-size: 14px;
    }
    .relax-slider__info-title {
        font-size: 30px;
        line-height: 35px;
    }
    .relax-slider__info-titleplus {
        font-size: 30px;
        line-height: 35px;
    }
    .relax-slider__info-subtitle {
        font-size: 14px;
        line-height: 7px;
        letter-spacing: 6px;
        top: 85px;
    }
    .travel-grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 20px;
    }
    .wrap-item{
        &:nth-child(1){
            grid-column: 1 / 6;
        }
        &:nth-child(2){
            grid-column: 1 / 6;
        }
        &:nth-child(3){
            grid-column: 1 / 6;
        } 
        &:nth-child(4){
            grid-column: 1 / 6;
        } 
        &:nth-child(5){
            grid-column: 1 / 6;
        } 
        &:nth-child(6){
            grid-column: 1 / 6;
            grid-row: initial;
        }
        &:nth-child(7){
            grid-column: 1 / 6;
        } 
        &:nth-child(8){
            grid-column: 1 / 6;
        } 
    }
    //shop//
    .shop__slider__btn {
        right: 185px;
    }
    .shop{
        .contact-form{
            top: 818%;
        }
    }
    //footer//
    .footer a {
        padding-right: 20px;
    }
    .footer-item {
        padding-left: 20px;
        width: 79px;
    }
    //relax//
    .relax-form{
        .contact-form {
            top: 325%;
        }
        .form-close:before{
            right: 5px;
            top: -286px;
        }
        .form-close:after{
            right: 5px;
            top: -286px;
        }
    }
    .relax__arrows{
        padding: 0;
        h2 {
            font-size: 1.5em;
        }
    }
 }



                    //- - - 460px - - -//
@media (max-width: 460px){
     //header//
     .header__menu {
        padding: 160px 10px 0px 60px;
    }
     .header__menu.active {
        padding: 160px 10px 0px 60px;
    }
    .header__menu span {
        font-size: 30px;
    }
    .header__location {
        font-size: 24px;
    }
    .dots-box {
        width: 80px;
    }
    .dots-box__number{
        display: none;
    }
    .dots-box__name{
        margin: 0 auto;
    }
    .header__title{
        font-size: 65px;
        line-height: 63px;
    }
    .slider-item__info-title{
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 0;
    }
    .slider-item__info-suptitle{
        margin: 0px 0px -5px 0px;
    }
     //header//
     //- -SPORT- -//
     .suptitle-left {
        letter-spacing: 2px;
    }
    .sport__subtitle .suptitle-left::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
    .relax{
        .descr__head {
            font-size: 22px;
        }
    }
    .relax{
        .relax-panel__heading{
            font-size: 11px;
            p{
                padding: 2px;
            }
        }
        .relax-panel__heading ::after {
            top: 4px;
            left: 285px;
        }
    }
    //- - -SHOP- - -//
    .shop__slider-content{
        padding-left: 0;
    }
    .surfboard__position--2{
        left: 3px;
        top: 313px;
    }
    .shop__slider-content {
        margin-bottom: 140px;
    }
    .shop__slider__btn {
        bottom: 0;
    }
    .shop{
        .contact-form{
            top: 818%;
        }
        .form-close:before{
            top: -226px;
            right: 20px;
        }
        .form-close:after{
            top: -226px;
            right: 20px;
        }
    }
    //footer//
    .footer__cop {
        font-size: 10px;
    }
    .footer a {
        font-size: 12px;
    }
    .footer {
        margin-top: 60px;
    }
}


                    //- - - 435px - - -//
@media (max-width: 435px){
    .slider-map .slider-dots__content,
    .slider-map .slick-current .slider-dots__content{
        display: block;
        width: 250px;
        padding: 28px 15px 0;
    }
    .slider-dots__content-title {
        font-size: 16px;
    }
    .travel{
        background-size: 200px;
    }
    .relax {
        background-size: 100px;
    }
    .travel {
        padding: 100px 0 270px 0;
    }
    .sport {
        padding: 100px 0 0 0;
    }
    .shop__slider__btn {
        right: 105px;
    }
    .shop{
        .contact-form{
            top: 794%;
        }
        .form-close:before{
            top: -226px;
            right: 20px;
        }
        .form-close:after{
            top: -226px;
            right: 20px;
        }
    }
} 


                    //- - - 409px - - -//
@media (max-width: 409px){
     //- -SPORT- -//
    .sport__subtitle .suptitle-left::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        background-color: #fff;
        left: 31px;
        top: 50%;
    }
    .relax-slider__subtitle {
        padding: 49px 80px 0 0;
    }
    .relax .relax-slider__descr .descr__head .relax__star-list {
        position: absolute;
        right: 22px;
        top: -7px;
    }
    .suptitle-left::before {
        content: "";
        display: none;
    }
    .relax-slider__descr .descr__head .relax__star-list img {
        display: none;
    }
    .relax-slider__descr .descr__head {
        padding: 0px 114px 0px 0px;
    }
}


                    //- - - 375px - - -//
@media (max-width: 375px){
    .header__title {
        font-size: 45px;
        line-height: 37px;
    }
    .suptitle-left {
        font-size: 11px;
        line-height: 17px;
    }
    .header{
        .suptitle-left {
            font-size: 11px;
        }
        .slider-item__info-title {
            font-size: 30px;
        }
    }
    .suptitle-right::before {
        content: "";
        right: -100px;
        top: 31%;
    }
    .travel{
        .suptitle-right {
            padding: 0 0 0 0;
        }
    }
    .travel{
        .title{
            span {
                font-size: 65px;
                padding: 24px 86px 40px 36px;
            }
            h3{
                font-size: 40px;
                right: 164px;
                top: -13px;
            }
        }
    }
    .relax{
        .title{
            span {
                font-size: 66px;
                padding: 36px 75px 40px 50px;
            }
            h3{
                font-size: 40px;
                right: 138px;
                top: -13px;
            }
        }
    }
    .relax-form{
        .contact-form {
            top: 308%;
        }
    }
    .relax .title h3 {
        top: 0;
    }
    .slider-map .slider-dots__content,
    .slider-map .slick-current .slider-dots__content{
        display: block;
        width: 195px;
        padding: 28px 10px 0;
    }
    .relax{
        .descr {
            padding: 0px 0px 0px 0px;
            margin: -75px 0 0 0;
        }
    }
            //- - -SHOP- - -//
    .shop__extras-box {
        text-align: center;
        width: 118px;
    }
    .shop{
        .suptitle-right::before {
            content: "";
            display: none;
        }
    }
    .suptitle-right {
        font-size: 11px;
    }
    .shop{
        .title span {
            font-size: 66px;
            padding: 31px 130px 40px 40px;
        }
    }
    //footer//
    .footer__cop {
        font-size: 9px;
        width: 124px;
    }
}