.header-price{
    min-height: 88vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.relax{
    .title{
        text-transform: uppercase;
        span{
            display: inline-block;
            position: relative;
            font-size: 200px;
            font-weight: 800;
            color: #ffffff10;
            transform: translateX(-50px);
        }
        h3{
            border-top: 1px solid $blue;
            border-bottom: 1px solid $blue;
            position: absolute;
            top: 0;
            right: 256px;
            font-size: 80px;
            margin: 0;
            color: #fff;
        }
    } 
    .header__title{
        opacity: 1;
        color: #eeeeee;
    }
}
.relax-panel__collapse{
    display: none;
}
.relax-panel__heading {
    cursor: pointer;
    p{
        padding: 0;
        margin: 0;
    }
    position: relative;
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    background-color: rgba(142, 142, 144, 0.103);
    padding: 10px 40px 10px 105px;
    margin: 30px 0 0 0;
    transition: 0.5S;
    ::after{
        content: "";
        background-image: url(../img/Down-Arrows.svg);
        left: 985px;
        top: 16px;
        width: 30px; 
        height: 30px; 
        background-repeat: no-repeat;
        position: absolute;
        transition: 0.5s;
    }
}
.relax-panel{
    position: relative;
    .slider-dots__clicks{
        position: absolute;
        top: 15px;
        left: 1010px;
    }
}
.relax-panel__heading.in p::after{
    transform: rotate(180deg);
}
.relax-panel__heading.in{
    background-color: $blue;
}
.collapse-body {
    font-size: 18px;
    opacity: 0.5;
    padding: 10px 40px 10px 105px;
    line-height: 2;
}
.relax__arrows{
    padding: 40px 0;
    text-align: center;
    img{
        width: 30px;
    }
}
.relax-slider__btn {
    button{
        border: none;
    }
    text-align: center;
    padding: 191px 0px 30px 0px;
    background-image: url(../img/relax/Frangipani.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    .slider-arrows{
        top: 225px;
    }
}
.relax-slider__top {
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 813px;
    background-size: cover;
}
.relax-subtitle {
    display: flex;
    justify-content: flex-end;
    padding: 132px 106px 0 0;
    margin: 0;
}
.subtitle{
    text-align: right;
    width: 700px;
}
.price-descr{
    .descr{
        background: none;
        padding: 0 0 0 106px;
    }
}
.relax-slider__descr {
    min-height: 320px;
    background-position: right center;
    background-repeat: no-repeat;
    padding: 160px 0px 0px 130px;
    margin: -230px 0px 0px 0px;
}
.descr__head {
    position: relative;
    padding: 0px 0px 0px 0px;
    img{
        position: absolute;
        right: 0;
        top: 0;
    }
    .relax__star-list { 
        display: flex;
        position: absolute;
        left: 292px;
        top: -7px;
        li{
            display: inline-block;
            margin: 0px 0px 0px 0px;
        }
        img{
            position: static;
        }
    }
}
.relax-slider__info {
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.relax-slider__info-item {
    min-height: 200px;
    margin-bottom: 66px;
    position: relative;
    padding: 0px 0px 0px 40px;
}
.relax-slider__info-subtitle  {
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.5;
    transform: rotate(-90deg);
    top: 95px;
    left: -106px;
    width: 216px;
    height: auto;
    text-align: right;
    white-space: nowrap;
}
.relax-slider__info-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-transform: uppercase;
    width: 235px;
    position: relative;
    .relax-pricing__span{
        display: block;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 6px;
        text-align: right;
        line-height: 16px;
        font-size: 14px;
        opacity: 0.5;
        padding: 8px 32px 0 0px;
    }
}
.relax-slider__info-titleplus {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-align: right;
    text-transform: uppercase;
    width: 245px;
    position: relative;
    text-align: left;

    .relax-pricing__span{
        display: block;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 6px;
        text-align: right;
        line-height: 16px;
        font-size: 14px;
        opacity: 0.5;
        padding: 8px 37px 0 0px;
    }
}

    // - - - kalkulator - - -//
.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
    font-size: 40px;
    line-height: 36px;
    font-weight: 400;
    color: $blue;
    padding-left: 20px;
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    padding: 0;
    margin: -5px 7px 0 0;
    text-align: center;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    position: static;
    height: 42px;
}

.quantity-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 20px;
    max-height: 20px;
    &:hover{
        transition: .3s;
        transform: scale(1.3);
    }
}
.slider-dots__clicks{
    position: absolute;
    bottom: 118px;
    right: 6px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .20;
    font-size: 18px;
    padding-bottom: 10px;
}

.quantity-button.quantity-up {
    position: absolute;
    cursor: pointer;
    top: 80px;
    right: 0;
}

.quantity-button.quantity-down {
    position: absolute;
    cursor: pointer;
    top: 80px;
    right: 50px;
}

