.shop {
    background-image: url(../img/shop/Shop-Image.png);
    background-position: right center;
    background-repeat: no-repeat;
    .title h3 {
        right: 186px;
    }
}
.shop__slider {
    padding: 0 0 0 106px;
}
.shop__slider-item {
}
.shop__slider-inner {
    display: flex;
}
.shop__slider-info {
    max-width: 539px;
    width: 100%;
    padding: 166px 0 0 0px;
    margin: 0 40px 0 0;
}
.descr__head-shop {
    max-width: 380px;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0px 5px 0px 0px;
    margin: 0 0 47px 0;
}
.shop__star-list {
    display: flex;
    margin: 0 0 0 -13px;
}
.shop__slider-content {
    padding: 0px 0px 0px 170px;
    display: flex;
    align-items: flex-end;
}
.surfboard {
    position: relative;
}
.shop__extras {
    padding: 0px 0px 0px 150px;
}
.shop__extras-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0 0 25px 0px;
}
.shop__extras-inner {
    display: flex;
}
.shop__extras-box {
    text-align: center;
    margin: 0 60px 0px 0;
}
.shop__extras-img{
    min-height: 105px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 0 35px 0;
}
.shop__extras-name {
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
    letter-spacing: 8px;
    margin: 0 0 16px 0px;
}
.shop__extras-price{
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
}
.shop__slider-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 64px 0;
    sup{
        font-size: 18px;
        padding: 0px 0 0 2px;
    }
}
.surfboard-box{
    position: absolute;
}
.surfboard__position--1{
    right: 40px;
    top: 215px;
}
.surfboard__position--2{
    left: 6px;
    top: 313px;
}
.surfboard__position--3{
    bottom: 70px;
    left: 52px;
    .surfboard-box__content{
        padding-left: 20px;
        padding-right: 95px;
        top: -15px;
        left: -400px;
        &::before{
            content: "";
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            right: 0;
            left: auto;
        }
    }
}
.surfboard-box__circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #FFF;
    cursor: pointer;
    &.active{
        .circle-row{
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
}
.circle-row{
    background-color: $blue;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    & + .circle-row{
        transform: translate(-50%, -50%) rotate(90deg);
    }
}
.surfboard-box__circle.active + .surfboard-box__content{
    display: block;
}
.surfboard-box__content{
    display: none;
    position: absolute;
    width: 359px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    padding-left: 104px;
    top: -15px;
    left: 40px;
    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}
.slider-dots__clic{
    position: absolute;
    bottom: 0px;
    right: 30px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .40;
    font-size: 18px;
    padding-bottom: 10px;
}
.shop{
    .contact-form{
      display: none;
      top: 625%;
      background-color: rgba(2, 12, 22, 0.65);
    }
    .contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
        padding: 0.5em 3em;
    }
    #name{
        margin-bottom: 40px; 
    }
    #email{
        margin-bottom: 40px;
    }
    .shop__slider__btn {
        button{
            border: none;
            cursor: pointer;
        }
    }
}